<div class="pin-container">
  <!-- <div class="icon-container">
  <img src="assets/image1.png" alt="icon" class="pin-icon">
</div> -->

  <h1>Hello, Thomas</h1>
  <h4 class="mt-5">login with pin</h4>

  <div class="pin-boxes">
    <div class="pin-box" *ngFor="let box of pinBoxes; let i = index">
      {{ pin[i] || '' }}
    </div>
  </div>
 <div class="forget-pin">
    <a href="#" >Forgot your PIN?</a>
  </div>
  <div class="pin-grid">
    <div
      class="pin-key"
      *ngFor="let key of keys"
      (click)="pressKey(key)"
    >
      <span *ngIf="key !== 'back'">{{ key }}</span>
      <span *ngIf="key === 'back'">⌫</span>
    </div>
  </div>
</div>