<div class="page">
    <header class="appbar">
        <span class="back-arrow" (click)="goBack()">←</span>
        <div class="header-text">
            <h1>New Transfer</h1>
            <h5>From Giro account</h5>
        </div>
    </header>

    <div class="content">
        <div class="card-wrap">
            <div class="card">
                <div class="card-item">
                    <span class="material-icons icon">person_outline</span>
                    <div>
                        <div class="item-title">Manual Transfer</div>
                        <div class="item-subtitle">Use address book or new recipient</div>
                    </div>
                </div>

                <div class="card-item">
                    <span class="material-icons icon">photo_camera</span>
                    <div>
                        <div class="item-title">Scan & Pay</div>
                        <div class="item-subtitle">Scan IBAN, payment slip or QR code</div>
                    </div>
                </div>

                <div class="card-item">
                    <span class="material-icons icon">description</span>
                    <div>
                        <div class="item-title">Templates</div>
                        <div class="item-subtitle">Use your templates for the transfer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
    <div class="ml-20">Own Transfer</div>
    <main class="content">
        @for (c of accounts; track c.id) {
        <section class="card-detail">
            <app-account-detail-card [card]="c"></app-account-detail-card>
        </section>
        }
        <div class="spacer"></div>
    </main>
</div>